<h2>Por región</h2>
<hr/>

<div class="row">
  <div class="col">

    @for (region of regions; track region) {
      <button class="btn mx-2"
              [class.btn-outline-primary]="region === selectedRegion"
              (click)="searchBy(region)">{{ region }}</button>
    }
  </div>
</div>

<div class="row">
  <div class="col">
    <hr/>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>

@if (isLoading) {
  <shared-loading-spinner></shared-loading-spinner>
}
